<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miso.persistence.MybatisDao">
	<resultMap id="empVoResultMap" type="com.miso.web.vo.EmpVoOfMybatis">
		<id column="EMPNO" property="empNo"/> 
		<result column="ENAME" property="name"/> 
		<result column="JOB" property="job"/> 
		<result column="MGR" property="mgrNo"/> 
		<result column="HIREDATE" property="hireDate"/> 
		<result column="SAL" property="salary"/> 
		<result column="COMM" property="commission"/> 
		<result column="DEPTNO" property="deptNo"/> 
	</resultMap>
	
	<sql id="whereByDeptNo">
		WHERE DEPTNO IN
		<foreach collection="list" item="deptNo" open="(" separator="," close=")"> 
			#{deptNo}
		</foreach>
		<!-- 
			collection="list 시에는 list로 표시 , array 시에는 array로 표시"
			index="foreach문이 반복될때마다 1씩 증가시키면서 접근하는 값의 위치를 표시" 
			item="사용할 속성 이름" 
			open="해당 구문이 시작될 때 사용할 문자 추가" 
			separator="구분자 추가" 
			close="해당 구문이 끝날 때의 사용할 문자 추가" 
		-->
	</sql>
	
	<sql id="whereByEmpNo">
		WHERE EMPNO IN
		<foreach collection="list" item="empNo" open="(" separator="," close=")"> 
			#{empNo}
		</foreach>
	</sql>
	
	<sql id="whereByJob">
		WHERE JOB = #{job}
	</sql>
	
	<insert id="insertEmpInfo" parameterType="com.miso.web.vo.EmpVoOfMybatis">
		<selectKey keyProperty="empNo" resultType="int" order="BEFORE">
        	SELECT MAX(EMPNO)+1 as empNo
        	FROM EMP
    	</selectKey>
    	<!-- 
			order 값이 before 일 경우: insert문을 수행하기전 selectKey가 먼저 실행된 후 insert문 수행
			order 값이 after 일 경우: insert문을 수행 후 selectKey를 수행
		-->
		INSERT INTO EMP
			(EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO) 
		VALUES 
			(#{empNo}, #{name}, #{job}, #{mgrNo}, SYSDATE, #{salary}, #{commission}, #{deptNo})
	</insert>
	
	<update id="updateEmpInfo" parameterType="java.util.List">
		<foreach collection="list" item="empInfo" index="index" open="DECLARE BEGIN" separator=";" close="; END;"> 
			UPDATE EMP 
			SET 
			    ENAME = #{empInfo.name},
			    JOB = #{empInfo.job},
			    MGR = #{empInfo.mgrNo},
			    SAL = #{empInfo.salary},
			    COMM = #{empInfo.commission},
			    DEPTNO = #{empInfo.deptNo}
			WHERE EMPNO = #{empInfo.empNo}
		</foreach>
		<!-- 
			##PL/SQL의 특징인 블록단위 실행을 이용하여 SystaxErrorException을 방지 한다.
				PL/SQL: 오라클에서 제공하는 SQL을 확장한 프로그래밍 언어
				DECLARE(선언부) 
					*변수 혹은 상수를 정의 할 수 있다.
					*옵션 부분으로 생략가능
				BEGIN(쿼리 실행부)
					* 각 쿼리는 반드시 ;으로 구분되어야 한다.
					EXCEPTION이라는 예외처리에 대한 로직을 옵션으로 넣을 수 있음(생략가능)
				END;(쿼리 종료부)
			
			##mysql, mariaDB일 경우 다중쿼리
				connection 설정 시 url 에 ?allowMultiQueries=true 를 추가한다.
				ex) "jdbc:log4jdbc:mysql://url?allowMultiQueries=true"
		-->
	</update>
	
	<select id="selectAllEmpInfos" resultMap="empVoResultMap">
		SELECT EMPNO, 
			   ENAME, 
			   JOB, 
			   NVL(MGR , 0) MGR, 
			   HIREDATE, 
			   SAL, 
			   NVL(COMM , 0) COMM, 
			   DEPTNO
		FROM EMP
		ORDER BY EMPNO
	</select>
	
	<select id="selectDeptNosByDistinct" resultType="int">
		SELECT DISTINCT NVL(DEPTNO , 0) DEPTNO
		FROM EMP
		ORDER BY DEPTNO
	</select>
	
	<select id="selectJobsByDistinct" resultType="string">
		SELECT DISTINCT JOB
		FROM EMP
		ORDER BY JOB
	</select>
	
	<select id="selectMgrNosByDistinct" resultType="int">
		SELECT DISTINCT NVL(MGR , 0) MGR
		FROM EMP
		ORDER BY MGR
	</select>
	
	<select id="selectEmpsByEmpNo" parameterType="java.util.List" resultMap="empVoResultMap">
		SELECT EMPNO, 
		       ENAME, 
		       JOB, 
		       NVL(MGR , 0) MGR, 
		       HIREDATE, 
		       SAL, 
		       NVL(COMM , 0) COMM, 
		       DEPTNO
		FROM EMP
		<include refid="whereByEmpNo"></include>
		ORDER BY EMPNO
	</select>
	
	<select id="selectEmpsByDeptNo" parameterType="java.util.List" resultMap="empVoResultMap">
		SELECT EMPNO, 
		       ENAME, 
		       JOB, 
		       NVL(MGR , 0) MGR, 
		       HIREDATE, 
		       SAL, 
		       NVL(COMM , 0) COMM, 
		       DEPTNO
		FROM EMP
		<include refid="whereByDeptNo"></include>		
		ORDER BY EMPNO
	</select>
	
	<select id="selectEmpsByJob" parameterType="String" resultMap="empVoResultMap">
		SELECT EMPNO, 
		       ENAME, 
		       JOB, 
		       NVL(MGR , 0) MGR, 
		       HIREDATE, 
		       SAL, 
		       NVL(COMM , 0) COMM, 
		       DEPTNO
		FROM EMP
		<include refid="whereByJob"></include>
		ORDER BY EMPNO
	</select>
	
	<select id="selectEmpByValue" parameterType="com.miso.web.vo.SearchValueOfMybatis" resultMap="empVoResultMap">
		SELECT EMPNO, 
		       ENAME, 
		       JOB, 
		       NVL(MGR , 0) MGR, 
		       HIREDATE, 
		       SAL, 
		       NVL(COMM , 0) COMM, 
		       DEPTNO
		FROM EMP
		<where>
			<if test="deptNo2 != null and deptNo2 != -1">
				AND DEPTNO = #{deptNo2}
			</if>
			<if test='job2 != null and job2 != ""'>
				AND JOB = #{job2}
			</if>
		</where>
		ORDER BY EMPNO
		
<!-- 		<choose> -->
<!-- 			<when test="deptNo2 != null and deptNo2 != -1"> -->
<!-- 				AND DEPTNO = #{deptNo2} -->
<!-- 			</when> -->
<!-- 			<when test='job2 != null and job2 neq ""'> -->
<!-- 				AND JOB = #{job2} -->
<!-- 			</when> -->
<!-- 		</choose> -->
<!-- 		ORDER BY EMPNO -->

<!-- choose when otherwise는 when의 조건이 성립되었다면 한 개의 when만 실행하고 빠져나간다. -->
	</select>
</mapper>